<h1> <small>HÉROES de MARVEL</small></h1>
<hr>
<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes;let i=index">
     <!--ESTA FORMA TAMBIEN ES VALIDA
     <img class="card-img-top img-fluid" src="{{heroe.img}}" alt="Card image cap">  -->
     <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
     <div class="card-body">
       <h4 class="card-title">{{heroe.nombre}}</h4>
       <p class="card-text">{{heroe.bio}}</p>
       <p class="card-text"><small class="text-muted">Fecha aparición: {{heroe.aparicion}}</small></p>
       <button type="button" (click)="verHeroe(i)"
       class="btn btn-outline-primary btn-block" name="button">Ver más..</button>
      <!--ESTA FORMA TAMBIEN ES VALIDA
       <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más ..</a>-->
     </div>
   </div>
</div>
